@very-light-gray: #303030;
@light-gray:      #A2C6EF;
@gray:            #515A6F;
@comment-blue:    #707070;
@medium-gray:     #343D46;
@dark-gray:       #282A2E;
@very-dark-gray:  #1D1F21;
@beige:           #ebebeb;

@bright-blue:     #055be0;
@bright-green:    #009139;
@bright-orange:   #fb6a1b;
@blue:            #055be0;
@purple:          #653bc5;
@green:           #009139;
@red:             #de143d;
@orange:          #eb6a1a;
@pink:            #e22978;
@dull_blue:       #006be0;
@red2:            #dc143c;

@very-light-blue: #EFF1F5;
@light-blue:      #B1D2EF;
@gray-blue:       #4E5A66;
@space-gray:      #4F5B66;
@light-gray-blue: #81A2BE;
